<center>

<h1>Hey, <%=user_name%> enter your age.</h1>

	<form action='age_form' method='POST'>

	<input type ="text" name ="name_input" value = <%=user_name%> hidden>

		<input type='number' name='age_input' required>

		<input type='submit' name='Submit'>

	</form>

</center>