<center>

<h1>Please enter your name.</h1>

	<form action='name_form' method='POST'>
		<input type='text' name='name_input' required><br>
		<input type='submit' value='Submit'>
	</form>

</center>