<center><h1>please enter number</h1>

<h3><%= isbn_num%> <%= message_one%> <%= results%> <%= number%></h3>

<form action='isbn_num' method='post'>
		<input type='text' name='isbn_input'><br>
		<p><input type='submit'></p>
<!-- jhdsgfblhwrkf;AWOI -->

</form></center>
